.PlantItem {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    align-items: center;
}

.IndividualPlantIcon {
    height: 40px;
    width: 40px;
}

.WateringPlantIcon {
    height: 40px;
    width: 40px;
}