.PlantItem {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
    border: 1px solid black;
    align-items: center;
}

.ItemElementSmall {
    flex-grow: 1
}

.ItemElementMedium {
    margin-left: 10px;
    margin-right: 20px;
}

.IndividualPlantIcon {
    height: 50px;
    width: 50px;
}

.WateringPlantIcon {
    height: 40px;
    width: 40px;
}