.PlantSummary {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
}
.PlantEntryRow {
    
}
.SummaryDisplayHeader {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
}